<html>
<head>
    <meta charset="utf-8">
  </head>
<body>
	<h1>October 16th, 2017</h1>
	<form>
		Stress level: <input type="radio" name = 'LowStress' value = 0 data-bind="checked: recordLevel">Low Stress 
		              <input type="radio" name = 'MediumStress' value = 1 data-bind="checked: recordLevel">Medium Stress 
					  <input type="radio" name = 'HighStress' value = 2 data-bind="checked: recordLevel">High Stress 
					  
		
					  
	</form>
	
	<script src="js/lib/knockout-3.4.2.js"></script>
	<script src="js/app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>